
  <div class="footer-padding"></div>
    <div class="footer">
      <p>Made with ❤️ by The Ethan Corporations</p>
    </div>
  </div>
<script src="/script.js" charset="utf-8"></script>
</body>
</html>
