<%- include ("partials/header") -%>
<h1>Compose</h1>
<form class="" action="/compose" method="post">
<div class=""form-group"">
  <label for="composeText">Title</label>
  <input class="form-control" type="text" name="titleInput" placeholder="Enter your dairy's tilte here">
  <label for="postInput">Post</label>
  <textarea class="form-control" name="postInput" rows="4" cols="80" placeholder="Enter your dairy's content here"></textarea><br>
  <button class="btn btn-dark" type="submit" name="button">Publish</button>
</div>





</form>

<%- include ("partials/footer") -%>
