<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE-edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Maaz ajaz - Web Developer, programmer, ML Enthusiast</title>
  <link rel="stylesheet" href="css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link rel="icon" type="image/x-icon" href="images/logo.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <form class="" action="/" method="post">


    <div class="container1">
      <div class="sidebar sidebarGo">
        <!-- Maaz -->
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="about">About me</a></li>
            <li><a href="services">Services</a></li>
            <li><a href="home">Blog</a></li>
            <li><a href="contact">Contact Me</a></li>
          </ul>
        </nav>
      </div>
      <div class="main">
        <div class="hamburger">
          <img class="ham" src="images/ham.png" alt="" width="23px">
          <img class="cross" src="images/cross.png" alt="" width="23px">
        </div>
        <div class="infoContainer">
          <div class="devPic">
            <img src="images/dev.png" alt="maaz-ajaz.img">
          </div>
          <div class="devInfo">
            <div class="hello">Hi i am</div>
            <div class="name">Maaz Ajaz</div>
            <div class="about">Dev, Programmer, Gamer</div>
            <div class="moreAbout">i am a Developer and i love to drink tea, my home town is Bhadohi but currently i live in New Delhi for my bachlors in computer science studies</div>
            <div class="buttons ">
              <a href="/resume.pdf">
                <button class="btn btn-dark" type="button" name="button">Download CV</button></a>
              <a href="contact">
                <button class="btn btn-dark" type="button" name="button">Contact Me</button></a>
            </div>
          </div>

        </div>
        <div class="footer-padding"></div>
        <div class="footer">
          <p>Made with ❤️ by The Ethan Corporations</p>
        </div>
      </div>
    </div>
  </form>
  <script src="/script.js" charset="utf-8"></script>
</body>


</html>
